.form-floating {
  #previewImage {
    max-width: 580px;
  }
  .field_with_errors {
    .form-control {
      height: calc(3.5rem + 2px);
      padding: 1rem 0.75rem;
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
    }
  }
  .field_with_errors ~ label {
    color: red;
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  &.form-floating.d-flex.flex-column-reverse {
    label {
      opacity: 1;
      transform: scale(1);
    }
    .field_with_errors ~ label {
      opacity: 0.65;
      transform: scale(1);
    }
  }
}
